<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Portal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,566},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,566},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,284},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>Portal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Portalsheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46ed0f4011d8497e91ec487e5956623$</string>
            <key>textureFileName</key>
            <string>Portalsheet.png</string>
        </dict>
    </dict>
</plist>
